.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 150px;
}

.title {
    margin-top: 150px;
}

.dateCard {
    margin-top: 20px;
}

.dateBtn {
    margin: 0 auto;
}

.dayCreateBtn {
    margin-bottom: 50px;
}