/* base */
.ulExeList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  justify-content: center;
  padding-bottom: 20px;

  @media only screen and (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    /* & > li:nth-child(3),
    & > li:nth-child(8) {
      grid-column: span 2;
    } */
  }

  @media only screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  @media only screen and (min-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);

    /* & > li:nth-child(3),
    & > li:nth-child(4),
    & > li:nth-child(8),
    & > li:nth-child(10) {
      grid-column: span 2;
    } */
  }
}

.liExelist {
  width: 100%;

  border-radius: 20px;
  overflow: hidden;
  height: 480px;

  letter-spacing: -0.32px;
}
