.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 150px;
  padding-bottom: 100px;
}

.librarySearchSection {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.libraryTitle {
  font-size: 28px;
  color: black;

  @media screen and (min-width: 768px) {
    font-size: 40px;
  }
}
