.homeStack {
  padding-bottom: 150px;

  display: flex;
  flex-direction: column;
  gap: 40px;

  @media screen and (min-width: 768px) {
    padding-bottom: 100px;
    gap: 50px;
  }

  @media screen and (min-width: 1440px) {
    padding-bottom: 120px;
    gap: 60px;
  }
}
