.thumb {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #333;

  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.wrapper {
  display: flex;
  gap: 4px;

  position: absolute;
  bottom: 16px;
  left: 16px;
}

.exerciseImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.label {
  font-weight: 700;
  color: var(--white-color);

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--white-color);
  background: rgba(255, 255, 255, 0.2);
  padding: 8px 12px;
  border-radius: 30px;
}

/* tablet -> desktop */
@media only screen and (min-width: 768px) {
  .label {
    font-size: 20px;
  }
  .wrapper {
    position: absolute;
    bottom: 24px;
    left: 24px;
  }
}