.container {
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-size: 28px;
}

.subTitleCard {
  border-color: orange;
  background-color: #fff5eb;

  padding: 30px 20px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.smallCard {
  border: var(--white-color);
  width: fit-content;
  margin: 0 auto;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4px;
  font-size: 16px;
}

.details span {
  font-weight: 700;
  font-size: 24px;
  color: var(--hot-pink);
}

.subTitle {
  font-size: 24px;
}

.timerWraper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
}

.timerWraper .timerBtn {
  margin: 0 auto;
  border-color: var(--yellow-color);
  border-width: 2px;
}

.formCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
}

.formCard .formBtn {
  border-color: orange;
  margin: 0 auto;
}

.container .submitBtn {
  border-color: green;
  background-color: var(--green-light);
  color: var(--main-color);
  margin: 0 auto;
}

.container .closeSessionBtn {
  border-color: var(--yellow-color);
  background-color: var(--bright-yellow);
  color: var(--main-color);
  margin: 0 auto;
}

.container .cancelBtn {
  border-color: red;
  margin: 0 auto;
}
