.heroSection {
  background-color: var(--gray-color);
  background-position: center;

  position: relative;

  max-width: 1440px;
  padding-top: 200px;
  padding-bottom: 250px;

  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../../../../assets/images/hero/dumbbells-in-the-gym.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),

        url("../../../../assets/images/hero/dumbbells-in-the-gym.jpg");
  }

  /* Tablet */
}

.heroTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;

  @media screen and (min-width: 768px) {
    gap: 40px;
  }
}

.heroTitle {
  color: var(--white-color);
  letter-spacing: -0.02em;
  text-align: center;
  margin: 0 auto;
}

.heroSubtitle {
  text-align: center;
  margin: 0 auto;
  max-width: 326px;
  color: var(--white-color);

  font-size: 16px;
  line-height: 143%;
  letter-spacing: -0.02em;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    line-height: 24px;
    max-width: 577px;
  }
}

.heroBtn {
  padding: 12px 40px;
  font-size: 14px;
  line-height: 143%;

  @media screen and (min-width: 768px) {
    padding: 16px 42px;
    font-size: 16px;
    line-height: 24px;
  }
}
