.smallCardDetails {
  background-color: var(--green-light);
  border-color: var(--mint-green);

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* flex: 1;
  text-align: center; */
  
}

.textWraper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

.delBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
}
