.container {
  margin: 0 auto;
  padding: 24px 0 64px 0;

  @media screen and (min-width: 768px) {
    padding: 16px 16px 0;
  }

  @media screen and (min-width: 1440px) {
    padding: 20px 20px 0;
  }
}

.container__extra {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.nextWorkout {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.workoutDetails {
  display: flex;
  flex-direction: column;
}


.workoutWraper {
    display: flex;
    gap: 10px;
    padding-bottom: 30px;
}

.workoutButton {
    margin: 0 auto;
}
