.nxtWrktLabel {
  text-transform: uppercase;
  font-size: 12px;
}

.nextWorkout .statValue {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: -0.5px;
}

.nextWorkout .titleCard {
  font-size: 20px;
  text-transform: capitalize;
}

.nextWorkout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.workoutDetails {
  display: flex;
  flex-direction: column;
}

.workoutWraper {
  display: flex;
  gap: 10px;
  justify-content: space-between;

  padding-bottom: 30px;
}

.workoutWraper > div {
  flex: 1;
  text-align: center;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4px;
}

.label span {
  font-weight: 700;
  font-size: 20px;
}

.workoutButton {
  margin: 0 auto;
}
