.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.description {
  font-size: 16px;
  letter-spacing: -0.28px;
  line-height: 143%;
}


.cardsWrapper {
  border: 2px solid;
  border-color: var(--pink-middle);
  border-radius: 15px;

  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.cardTitle {
  color: var(--main-color);
  padding: 15px;
}

.ulWorkout {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (min-width: 768px) {
  .ulWorkout {
    flex-direction: row;
  }
}

.liExerciseCard {
  width: 100%;
  background-color: var(--white-color);
  border-radius: 15px;
  padding: 16px;
  overflow: hidden;
  border: 1px solid  var(--pink-middle);
  background: linear-gradient(to bottom right, var(--pink-light), var(--green-light));
}

.cardHeader {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
  position: relative;
  gap: 16px;
}

.exercisesNameTag {
  color: black;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid var(--main-color);
  border-radius: 15px;
  padding: 5px 8px;
}

.exercisesNameBtn {
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-left: auto;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  gap: 8px;
  padding: 0px;
}

.exerciseInfo {
  color: var(--main-color);
  /* position: relative; */
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 10px;
}

.exersizeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.exerciseName {
  font-size: 20px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.workoutDetails {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* opacity: 0.8; */
}

.tracking {
  border-color: var(--mint-green);
}

.ulTracking {
  color: black;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (min-width: 768px) {
  .ulTracking {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   
  }
}

@media screen and (min-width: 1024px) {
  .ulTracking {
    flex-wrap: nowrap;
    justify-content: center;
   
  }
}


.liTracking {
  border: 1px solid var(--mint-green);
  background: var(--green-light);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px 30px;
}

.trackingDetails {
  display: flex;
  flex-direction: column;
}

.cardStats {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.statBox {
  border-radius: 15px;
  border: 1px white;
  background-color: white;
  padding: 10px;
  padding-bottom: 30px;

  display: flex;
  flex-direction: column;
}

.trackinButton {
  margin: 0 auto;
}


.socialFeed {
  border-radius: 15px;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .socialFeed {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.feedItem {
  border: 1px solid var(--pink-middle);
  background: var(--pink-light);
  text-align: start;


  display: flex;
  flex-direction: column;
  padding: 20px 20px 30px;
}

