.modalDetails {
  background-color: grey;
  color: white;
}

.modalDetails button[class*="close"] {
  color: white;
}

.itemWraper {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15px;
}

.thumb {
  border-radius: 12px;
  overflow: hidden;

  width: 100%;
  height: 100%;

  background-size: cover;

  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

.exerciseImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  margin: 0 auto;
}

.label {
  font-weight: 700;
  color: var(--white-color);
}

.description {
  color: white;
}

/* tablet -> desktop */
@media only screen and (min-width: 768px) {
  .label {
    font-size: 20px;
  }
  .wrapper {
    position: absolute;
    bottom: 24px;
    left: 24px;
  }
}
