.label {
  color: black;
}

.itemWraper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.delBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
}

/* 
.thumb {
  border-radius: 12px;
  overflow: hidden;

  width: 100%;
  height: 258px;

  background-size: cover;

  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

.exerciseImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  margin: 0 auto;
} */
