:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--white-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Global color variables */
  --main-color: #050505;
  --gray-color: #bfbebe;
  --gray-dark-color: #aaaaaa;
  --gray-light-color: #e8e8e8;
  --white-color: #ffffff;
  --red-color: #d10808;
  --hot-pink: #ED1A63;
  --pink-middle: #F9A8D4;
  --pink-light: #FCE7F3;
  --mint-green: #A8E6C8;
  --green-light: #D1FAE5;
  --bright-yellow: #F7DC6F;
  --yellow-color: #F59E0B;
  --purple-collor: #A855F7;
  --blue-color: #3B82F6;
  --white-transparent-color: rgba(255, 255, 255, 0.2);
  --white-transparent-color-2: rgba(255, 255, 255, 0.1);
  --button-color: #1a1a1a;

  --border-radius-s: 15px;
  --border-radius-m: 30px;
  --border-radius-full: 50%;

  --transition-duration: 0.2s;
  --transition-timing-function: ease;
  --Typography-line-clamp: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
}

/* extra settings */

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Optional but recommended for better layout control */
}


/* date Picker */
.rdp-root {
  --rdp-accent-color: var(--hot-pink) !important;
}

.rdp {
  --rdp-cell-size: 45px; /* Using px as requested */
  --rdp-accent-color: #000000; 
  --rdp-background-color: #f0f0f0;
  margin: 0;

}

.rdp-weekday {
  color: var(--main-color);
}

/* Force all day numbers to be black */
.rdp-day {
  color: #000000;
  font-size: 14px; 
  font-weight: 500;
}

/* Style the selected day number (usually white on black background) */
.rdp-day_selected {
  color: #ffffff; 
  background-color: #000000;
  border-radius: 50%;
 
}

/* Style the month/year header */
.rdp-caption_label {
  font-size: 18px;
  color: #000000 ;
  font-weight: bold;
}


/* Style the weekday names (Mon, Tue, etc.)  */
.rdp-head_cell {
  color: #666666;
  font-size: 24px ;
  text-transform: uppercase;
}




