.headWrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding-bottom: 16px;
}

.description {
  color: var(--main-color);
  letter-spacing: -0.28px;

  font-size: 16px;
  line-height: 143%;
}

/* tablet */
@media screen and (min-width: 768px) {
  .headWrapper {
    max-width: 531px;
    padding-bottom: 40px;
  }

  .description {
    color: var(--main-color);
    line-height: 24px;
    letter-spacing: -0.32px;
  }
}

.exercises {
  width: 100%;
  height: 250px;

  border-radius: 20px;
  overflow: hidden;
  background-color: var(--main-color);

  background-image:
    linear-gradient(rgba(17, 17, 17, 0.6) 0%, rgba(17, 17, 17, 0.6) 100%),
    url("@/assets/images/exercises/3679.gif");
  background-repeat: no-repeat;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  background-position: center;
  background-size: cover;
}

.allExercises {
  border-radius: 30px;
  border: 1px solid var(--white-color);
  background: rgba(255, 255, 255, 0.2);
  padding: 8px 14px;
  letter-spacing: -0.32px;
  backdrop-filter: blur(10px);
}

/* tablet */
@media only screen and (min-width: 768px) {
  .exercises {
    height: 369px;
  }

  .allExercises {
    letter-spacing: -0.4px;
    font-size: 20px;
  }
}
